* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    /* cursor: url(/static/media/arrowPoint.5b3f3b5c07736388f143.svg) 15 15,move; */
    font-family: "Kode Mono", monospace;
}

nav {
    animation: fadeInDown 1s ease forwards;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    /* background-color: #10e956 !important; */
    background: rgb(16, 233, 86);
    background: linear-gradient(180deg, rgba(16, 233, 86, 1) 0%, rgb(0, 0, 0, 1) 100%);
    height: 80px;
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), radial-gradient(at top left, rgba(255, 255, 255, 0.1), transparent); */
    background-position: 0 0, 0 0;
    background-repeat: no-repeat, repeat;
    background-size: 100% 60px, 5px 5px;
    position: sticky;
}

#orgName {
    font-size: 1.6rem;
}

nav ul {
    display: flex;
    justify-content: space-around;

}

nav ul li {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 23px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

nav ul li a {
    color: white;
    text-decoration: none;

}

nav ul li a:hover {
    color: #3c1056;
    transform: scale(1.1);
}


.firstsection {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right bottom, rgba(5, 8, 16, .6), rgba(5, 8, 16, .6)), url(/images/index.89d3119228d600788910.svg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    align-items: center;
}

.leftsection {
    color: floralwhite;
    font-size: 3.3rem;
    font-weight: 700;
    width: 60%;
    margin-left: 50px;
    margin-bottom: 20px;
}

.rightsection {
    float: right;
    width: 50%;
    /* background-color: aquamarine; */
    height: 40%;
    margin-bottom: 50px;
    margin-right: 50px;
}

#inovation_hub {
    color: #10e956;
    text-decoration: underline;

}

hr {
    color: #10e956;
}

.about-us {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}

.about-us-section {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    align-items: center;
}

.about-us-left {
    color: floralwhite;
    /* font-size: 3.3rem; */
    /* font-weight: 700; */
    background-color: #10e956;
    height: 50%;
    width: 50%;
    margin-right: 20px;
    /* margin-left: 50px; */
    /* margin-bottom: 20px; */
}

.about-us-right {
    color: floralwhite;
    float: right;
    width: 50%;
    /* background-color: aquamarine; */
    height: 50%;
    /* margin-bottom: 50px; */
    /* margin-right: 50px; */
}

.about-us-content {
    font-size: 1rem;
}

.about-us-right h2 {
    color: #10e956;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
}